---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Works with industry leading technologies</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">

    <img width="48" height="48" src="https://img.icons8.com/color/48/net-framework.png" alt="net-framework"/>
    <img width="48" height="48" src="https://img.icons8.com/color/48/angularjs.png" alt="angularjs"/>
    <img width="48" height="48" src="https://img.icons8.com/fluency/48/azure-1.png" alt="azure-1"/>
    <img width="48" height="48" src="https://img.icons8.com/color/48/tailwind_css.png" alt="tailwind_css"/>
    <img width="48" height="48" src="https://img.icons8.com/color/48/microsoft-sql-server.png" alt="microsoft-sql-server"/>
    <img width="48" height="48" src="https://img.icons8.com/color/48/git.png" alt="git"/>
    <img width="48" height="48" src="https://img.icons8.com/color/48/wordpress.png" alt="wordpress"/>
  </div>
</div>
